<MudAppBar Color="Color.Secondary" Fixed="false" Elevation="0">
    <h2>@Localizer["Navbar_Title"]</h2>
    <MudSpacer />
    <MudStack AlignItems="AlignItems.Center" Row="true" >
        <MudNavLink Ripple="true" Style="margin-left:unset!important;" Href="">@Localizer["Navbar_Item1"]</MudNavLink>
        <MudNavLink Ripple="true" Style="margin-left:unset!important;" Href="">@Localizer["Navbar_Item1"]</MudNavLink>
        <MudNavLink Ripple="true" Style="margin-left:unset!important;" Href="">@Localizer["Navbar_Item1"]</MudNavLink>
    </MudStack>
</MudAppBar>

<style>
    .mud-nav-link-text{
        margin-left: unset !important;
    }
</style>

