<MudAppBar Color="Color.Secondary">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Row="true"> 
        <h2>Cineflex</h2>
        <MudStack AlignItems="AlignItems.Start" Row="true">
            <h3>Films</h3>
        </MudStack>
    </MudStack>
</MudAppBar>


