<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
    <div style="@(_imageStyle)">
    </div>
    <MudPaper Style="@(_titleStyle)" Elevation="0" MinHeight="20%" MaxHeight="20%">
        <MudText>
            @Title
        </MudText>
    </MudPaper>
</MudStack>



